#name {
    background-color: white;
    border-radius: 10pt;
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto;
    text-align: center;
}

#name:hover {
    cursor: default;
}

#nav-color {
    background-color: #4aaaa5;
}

#about-me {
    margin-top: 2vh;
    text-align: center;
}

#info {
    margin-top: 9vh;
}

.page-footer {
    background-color: #4aaaa5;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Source for sticky footer using Ryan Fait's solution: https://codeconvey.com/simple-css-sticky-footer/ */
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
.footer, .push {
    height: 50px;
}
.footer {
    background-color: #4aaaa5;
    padding-top: 2vh;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.link-color {
    color: #4aaaa5;
}
.cursive-font {
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.text-center {
    text-align: center;
}

