#name {
    background-color: white;
    border-radius: 10pt;
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0 auto;
    text-align: center;
}

#nav-color {
    background-color: #4aaaa5;
}

#about-me {
    margin-top: 2vh;
    text-align: center;
}

#info {
    margin-top: 9vh;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link-color {
    color: #4aaaa5;
}
.cursive-font {
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.text-center {
    text-align: center;
}